@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


section {
    position: relative;
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #F53F23,#ff0081);
    border-radius: 0 0 70% 50%/0 0 100% 100%;
    transform: scaleX(1.5);
}

section .content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;

}

section .content h3 {
    margin: 0;
    position: fixed;
    bottom: 40px;
    color: #373B3C;
    font-size: 1em;
}

section .content p {
    position: fixed;
    bottom: 5px;
    right: 20px;
    font-size: 80%;
    

    
}

section .content img{
    height: 22px;
    vertical-align: middle;
}
.custom-shape-divider-bottom-1630373554 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1630373554 svg {
    position: relative;
    display: block;
    width: calc(164% + 1.3px);
    height: 200px;
}

.custom-shape-divider-bottom-1630373554 .shape-fill {
    fill: #FFFFFF;
}


section .centro {
    min-height: 260px !important;
}

section .formulario {
    position: relative;
    z-index: 1;
    
}

